<!DOCTYPE html>
<html lang="de">
<head>
  <title>Template 2.5: Zwei-Zeiler mit drei Spalten im Kopfbereich und zwei Spalten im Inhaltsbereich (HTML5)</title>
  <meta charset="utf-8">
  <meta name="author" content="ITIB - Christiane Müller">
  <meta name="publisher" content="Christiane Müller">
  <meta name="copyright" content="Christiane Müller">
  <meta name="description" content="Web-Template. Vorlagen-Datei zur Entwicklung einer Internetseite im HTML5-Format">
  <meta name="keywords" content="HTML5, template, itib">
  <meta name="robots" content="NOINDEX,NOFOLLOW">
  <link rel="stylesheet" href="../../general.css">
  <link rel="stylesheet" href="screen.css">
  <link rel="stylesheet" href="../../print.css"  media="print">
  <link rel="shortcut icon" href="../../favicon.ico">
  <!--[if lt IE 9]>
  <script language="javascript" type="text/javascript" src="../../html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<!-- Begin Page-Container -->
<div id="top">

  <!-- Skip-Navigation -->
  <ol id="skip">
    <li><a href="#navigation" title="zur Hauptnavigation springen">zur Hauptnavigation</a></li>
    <li><a href="#subnavigation" title="zur Unternavigation springen">zur Unternavigation</a></li>
    <li><a href="#content" title="zum Inhalt springen">zum Inhalt</a></li>
  </ol>

  <!-- Begin Header-Container -->
  <header>

    <!-- Begin Left-Header-Container -->
    <div id="header_left">
      <p>Hier könnte ein Logo hin.</p>
      <!-- End Left-Header-Container -->
    </div>

    <!-- Begin Navigation-Container -->
    <nav id="navigation">

      <ol id="horizontal">
        <li><a href="index.html">Primär 1</a></li>
        <li><a href="index.html">Primär 2</a></li>
        <li><a href="index.html">Primär 3</a></li>
        <li><a href="index.html">Primär 4</a></li>
        <li class="displayed"><a href="index.html">Primär 5</a></li>
      </ol>

      <!-- End Navigation-Container -->
    </nav>

    <!-- Begin Right-Header-Container -->
    <div id="header_right">
      <p>Hier könnten Adressdaten hin.</p>
      <!-- End Right-Header-Container -->
    </div>

    <!-- End Header-Container -->
  </header>

  <!-- Begin Main-Container -->
  <div id="main">

    <!-- Begin Subnavigation-Container -->
    <nav id="subnavigation">

      <ol id="vertical">
        <li><a href="index.html">Sekundär 5.1</a></li>
        <li><a href="index.html">Sekundär 5.2</a></li>
        <li><a href="index.html">Sekundär 5.3</a></li>
        <li><a href="index.html">Sekundär 5.4</a></li>
        <li><strong>Sekundär 5.5</strong></li>
      </ol>

      <!-- End Subnavigation-Container -->
    </nav>

    <!-- Begin Content-Container -->
    <article id="content">

      <h1>Überschrift 1. Ordnung</h1>

      <nav id="breadcrumb">Sie befinden sich hier:
        <a href="../../index.html">Startseite</a> &gt;
        <a href="index.html">Primär 5</a> &gt;
        Sekundär 5.5
      </nav>

      <p id="teaser">Hier kann eine Inhaltszusammenfassung hin.</p>

      <h2>Überschrift 2. Ordnung</h2>

      <p>Absatz mit Text.</p>

      <h3>Überschrift 3. Ordnung</h3>

      <p>Absatz mit Text.</p>

      <ol>
        <li>Listenelement Nummer 1</li>
        <li>Listenelement Nummer 2</li>
        <li>Listenelement Nummer 3</li>
      </ol>

      <p>Und noch ein Absatz.</p>

      <ul>
        <li>Listenelement Nummer 1</li>
        <li>Listenelement Nummer 2</li>
        <li>Listenelement Nummer 3</li>
      </ul>

      <p>Dieses <abbr lang="en" title="Hypertext Markup Language, Version 5">HTML5</abbr>-/
        <abbr lang="en" title="Cascading Style Sheets">CSS</abbr>-<span lang="en">Template</span>
        kann kostenfrei verwendet werden.</p>

      <p class="up"><a href="#top" title="zum Seitenanfang dieser Seite springen">zum Seitenanfang</a></p>

      <!-- End Content-Container -->
    </article>

    <!-- End Main-Container -->
  </div>

  <footer>
    <p><span lang="en">template generated by</span> <a href="https://github.com/kiskane">kiskane</a>, <span lang="en">powered by</span>
      <a href="http://www.itib.de" title="zu itib - Informationstechnik in Berlin [Link führt zu externer Seite]"><span
              class="grossbuchstaben">itib</span> - Informationstechnik in Berlin</a></p>
  </footer>

  <!-- End Page-Container -->
</div>

</body>
</html>
